* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6fbfa;
  /* font-family: 'Roboto',sans-serif; */
}
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.left {
  width: 100%;
  position: relative;
  top: 30px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.left img {
  height: 80px;
  width: 77.33px;
}
.left h1 {
  color: #000b0a;
  font-size: 40px;
}
.left p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.right {
  position: relative;
  top: 41px;
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 50px 0 #0408131a;
}
.right form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "First-Name Last-Name"
    "Gender Date-Of-Birth"
    "Weight-kg Height-Cm"
    "Activity-Level Activity-Level"
    "Password Password"
    "button button";
}

.right form .First-Name {
  grid-area: First-Name;
}
.right form .Last-Name {
  grid-area: Last-Name;
}
.right form .Gender {
  grid-area: Gender;
}
.right form .Date-Of-Birth {
  grid-area: Date-Of-Birth;
}
.right form .Weight-kg {
  grid-area: Weight-kg;
}
.right form .Height-Cm {
  grid-area: Height-Cm;
}
.right form .Activity-Level {
  grid-area: Activity-Level;
}

.right form .Password {
  grid-area: Password;
}

.right form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.right form label {
  font-size: 16px;
}
.right form div input,
.right form div select {
  height: 35px;
  border-radius: 3px;
  padding-left: 5px;
  border: 1px solid #737373;
}
.right form .button {
  grid-area: button;
  padding: 10px 0 10px 0;
  background-color: #2ec4b6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.right footer{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}
.right footer a{
    color: #2ec4b6;
}
@media screen and (max-width: 528px){
    main{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .left{
        row-gap: 1.5rem;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        font-size: 14px;
    }
    .right{
        margin-top: 20px;
    }
    .right form{
        display: block;
    }
    .right form div{
        margin-top: 20px;
    }
    .right form div label{
        font-size: 14px;
}
    form div input,
    form div select{
        height: 30px;
    }
    form div.Date-Of-Birth input{
        width: 100%;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }
    .right form .button{
        width: 100%;
        margin-top: 20px;
        padding: 8px 0 8px 0;
    }
    .right footer{
        font-size: 14px;
    }
}













